version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: saas_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: saas_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_v2:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    container_name: saas_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data_v2: